:root {
    --bg: #121214;
    --white: #fff;
    --black: #000;

    --color0: #D4D4D8;
    --color1: #a1a1aa;
    --color1-2: #71717A;
    --color2: #2A2634;
    --color3: #8b5cf6;
    --color4: #18181B;
    
    
    --backdrop: rgb(0 0 0 / 0.6);

    --color3--hover: #7c3aed;
    --color1-2--hover: #52525b;

    --gradient: linear-gradient(89.86deg, #9572FC 23.08%, #43E7AD 33.94%, #E1D55D 44.57%);


    font-size: 62.5%;  /* 10px == 1rem */
}

html,body {
    width: 100%;
    height: 100vh;
    background: var(--bg);
    background-image: url(../img/galaxy.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;

    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;

}

.container {
    height: 100%;
    max-width: 1344px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > img {
    margin: 8rem 0;
}

h1 {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 6rem;
    color: var(--white);
    margin-bottom: 6.4rem;
}

h1 span {
    color: transparent;
    background-image: var(--gradient);
    -webkit-background-clip: text;
}

/* ----------------- CONTAINER GAMES - Início --------- */

.container__games {
    display: flex;
    gap: 2.4rem;
}

a.ancora {
    position: relative;
    border-radius: .8rem;
    overflow: hidden;
}

a.ancora > img {
    width:100%;
    height:100%
}

div.info {
    position: absolute;
    width: 100%;
    padding: 6.4rem 1.6rem 1.6rem 1.6rem;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 67.08%);
    bottom: 0px;
    left: 0px;
    right: 0px;
}

div.info > strong {
    font-weight: 700;
    color: var(--white);
    display: block;
    margin-bottom: .4rem;
}

div.info > span {
    color: var(--color0);
    font-size: 1.4rem;
    display: block;
}
/* ----------------- CONTAINER GAMES - Fim --------- */


/*----------------CONTAINER CreateAd ------ Início -----*/

.container__createAd {
    background-image: var(--gradient);
    padding-top: .4rem;
    
    border-radius: .8rem;
    margin-top: 3.2rem;
    overflow: hidden;
    width: 1344px;
}

.container__createAd-content {
    display: flex;
    background-color: var(--color2);
    padding: 2.4rem 3.2rem;
    justify-content: space-between;
    align-items: center;
}
.left h2 {
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 900;
    display: block;
}

.left span {
    color: var(--color1);
}

button {
    display: flex;
    padding: 1.2rem 1.6rem;
    background: var(--color3);
    border: none;
    color: #fff;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: .4rem;
}
button:hover {
    background: var(--color3--hover);
}
/*----------------CONTAINER CreateAd ------ Fim -----*/


/* ---------modal ---------*/

dialog {
    width: 48.8rem;
    background: var(--color2);
    border: none;
    margin: auto auto;

    padding: 3.2rem 4rem;
    color: var(--white);
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.6);
}

dialog label {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white);
}

dialog h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3.2rem;
}

.content-form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.select,.input-box{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

select{
    appearance: none;
    border: none;
    background-color: var(--color4);
    padding: 1.2rem 1.6rem ;
    border-radius: .4rem;
    font-size: 1.4rem;
    color: var(--color1-2);
}

input{
    border: none;
    background-color: #18181B;
    padding:1.2rem 1.6rem ;
    border-radius: .4rem;
    font-size: 1.4rem;
    color: var(--color1-2);
}


.anosDiscord{
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
}
.anosDiscord input {
    width: 192px;
}

.check {
    display: flex;
    align-items: center;

    margin-top: .8rem;
    gap: .8rem;
}

.check label {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white);
}

.check input {
    width: 2rem;
    height: 2rem;
    accent-color: var(--color3--hover);
}

.btn {
    margin-top: 1.6rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
}
.btn button {
    padding: 0rem 2rem;
    height: 4.8rem;
    border-radius: .6;
    font-weight: 600;
}

.fechar {
    background-color: var(--color1-2);
}

.fechar:hover {
    background-color: var(--color1-2--hover);
}
